
/* 1.GRID =============*/
$width: 100%;
$gutter: 10px;
$columns: 12;

.my-contain-fluid  {
    padding-right: $gutter;
    padding-left: $gutter;
    margin-right: auto;
    margin-left: auto;
}

.my-contain {
    margin-left: auto;
    margin-right: auto;
    padding-left: $gutter;
    padding-right: $gutter;
    .my-row   {   
        margin-left: $gutter;
        margin-right: $gutter;
    }
//         @include clr;
//         &>[class*="col-"];
//             position: relative;
//             min-height: 1px;
//             float: left;
}

// @for $i from 1 through $columns
//     .col-#{$i};
//         width: (($width / $columns) * $i);
/* 1.GRID END =============*/  

/* ICONS ================== */
.ic  {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: $icons no-repeat;
}

 @each $i in rss, twitter {
     .ic--#{$i} {
         @include s(#{$i});
     }
 }
/* ICONS END ================== */