
$font_name: ProximaNova;
$font_size: 18px;
$font-weight: 400;

$color_bg: #eee;
$color_text: #fff;
$color_input_text: #333;
$color_input_bg: #999;
$color_placeholder: #777;

$color_btn_bg: transparent;
$color_btn_txt: #777;

$text_shadow: 0;
$box_shadow: 0;

$color_link: #fff;
$color_visit: #C62EB2;
$color_hover: #414041;
$color_active: #c62f21;
$color_link_bg: #5A768A;

@include font('#{$font_name}', '#{$font_name}Bold') {
    font-style: normal;
    font-weight: 700;
}

@include font('#{$font_name}', '#{$font_name}Extrabold') {
    font-style: normal;
    font-weight: 900;
}

@include font('#{$font_name}', '#{$font_name}Reg') {
    font-style: normal;
    font-weight: 400;
}

a {  
    @include tr(all 0.3s linear);
    text-decoration: none;
    color: $color_link;
    outline: none;
    background: $color_link_bg;
    &:visited {
        color: $color_visit;
    }
    &:hover {
        color: $color_hover;
    }
    &:active {
        color: $color_active;
    }
}

body {
    font-family: '#{$font_name}', Arial, Tahoma, sans-serif;
    @include bg;
    position: relative;
    font-size: $font_size ;
    font-weight: $font-weight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    cursor: pointer;
    -webkit-appearance: none;
    outline: none;
}

input {
    &[type="button"],
    &[type="submit"] {
        @extend button;
    }
}

input, textarea {
    color: $color_input_text;
    outline: none;
    @include br(0);
    -webkit-appearance: none;
}

* {
    @include box-sizing(border-box);
    &:before,
    &:after {
        @include box-sizing(border-box);
    }
}

/* 1.GRID =============*/
$width: 100%;
$gutter: 10px;
$columns: 12;

.my-contain-fluid  {
    padding-right: $gutter;
    padding-left: $gutter;
    margin-right: auto;
    margin-left: auto;
}

.my-contain {
    margin-left: auto;
    margin-right: auto;
    padding-left: $gutter;
    padding-right: $gutter;
    .my-row   {   
        margin-left: $gutter;
        margin-right: $gutter;
    }
//         @include clr;
//         &>[class*="col-"];
//             position: relative;
//             min-height: 1px;
//             float: left;
}

// @for $i from 1 through $columns
//     .col-#{$i};
//         width: (($width / $columns) * $i);
/* 1.GRID END =============*/  

/* ICONS ================== */
.ic  {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: $icons no-repeat;
}

// @each $i in rss, twitter 
//     .ic--#{$i} 
//         @include s(ic--#{$i});
/* ICONS END ================== */